/* Write your CSS here */
.dark-container {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  border-width: 2px;
  border-style: solid;
  box-shadow: 1px 1px 1px 1px #dcdcdc;
}

.light-container {
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  outline: none;
  box-shadow: 1px 1px 1px 1px #dcdcdc;
}

.button {
  outline: none;
  border-width: 0px;
  cursor: pointer;
  background-color: transparent;
}

.list-container {
  list-style-type: none;
  display: flex;
}

.link {
  text-decoration: transparent;
}
